In [19]:
import numpy as np
import pandas as pd
import re
import string
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from nltk.stem import WordNetLemmatizer

In [5]:
sw = stopwords.words('english')

In [11]:
pos_rev = pd.read_csv('netflix_review_data/pos.txt', sep = '\n', header = None)
pos_rev['mood'] = 1
pos_rev.rename(columns = {0:'review'}, inplace = True)
pos_rev

                                                 review  mood
0     the rock is destined to be the 21st century's ...     1
1     the gorgeously elaborate continuation of " the...     1
2                        effective but too-tepid biopic     1
3     if you sometimes like to go to the movies to h...     1
4     emerges as something rare , an issue movie tha...     1
...                                                 ...   ...
5326  both exuberantly romantic and serenely melanch...     1
5327  mazel tov to a film about a family's joyous li...     1
5328  standing in the shadows of motown is the best ...     1
5329  it's nice to see piscopo again after all these...     1
5330  provides a porthole into that noble , tremblin...     1

[5331 rows x 2 columns]

In [10]:
neg_rev = pd.read_csv('netflix_review_data/negative.txt', sep = '\n', header = None)
neg_rev['mood'] = 0
neg_rev.rename(columns = {0:'review'}, inplace = True)
neg_rev

                                                 review  mood
0                      simplistic , silly and tedious.      0
1     it's so laddish and juvenile , only teenage bo...     0
2     exploitative and largely devoid of the depth o...     0
3     [garbus] discards the potential for pathologic...     0
4     a visually flashy but narratively opaque and e...     0
...                                                 ...   ...
5326  a terrible movie that some people will neverth...     0
5327  there are many definitions of 'time waster' bu...     0
5328  as it stands , crocodile hunter has the hurrie...     0
5329  the thing looks like a made-for-home-video qui...     0
5330  enigma is well-made , but it's just too dry an...     0

[5331 rows x 2 columns]

In [14]:
X = pd.concat([pos_rev, neg_rev])
X

                                                 review  mood
0     the rock is destined to be the 21st century's ...     1
1     the gorgeously elaborate continuation of " the...     1
2                        effective but too-tepid biopic     1
3     if you sometimes like to go to the movies to h...     1
4     emerges as something rare , an issue movie tha...     1
...                                                 ...   ...
5326  a terrible movie that some people will neverth...     0
5327  there are many definitions of 'time waster' bu...     0
5328  as it stands , crocodile hunter has the hurrie...     0
5329  the thing looks like a made-for-home-video qui...     0
5330  enigma is well-made , but it's just too dry an...     0

[10662 rows x 2 columns]

In [20]:
X['review'] = X['review'].apply(lambda x : x.lower())
X['review'] = X['review'].apply(lambda x : re.sub(r"@\S+", "" , x))
X['review'] = X['review'].apply(lambda x : " ".join([word for word in x.split() if word not in string.punctuation]))
X['review'] = X['review'].apply(lambda x : " ".join([word for word in x.split() if word not in (sw)]))
lemmatizer = WordNetLemmatizer()
X['review'] = X['review'].apply(lambda x : " ".join([lemmatizer.lemmatize(word) for word in x.split()]))
X

                                                 review  mood
0     rock destined 21st century's new conan he's go...     1
1     gorgeously elaborate continuation lord ring tr...     1
2                            effective too-tepid biopic     1
3     sometimes like go movie fun wasabi good place ...     1
4     emerges something rare issue movie that's hone...     1
...                                                 ...   ...
5326  exuberantly romantic serenely melancholy time ...     0
5327  mazel tov film family's joyous life acting yid...     0
5328  standing shadow motown best kind documentary o...     0
5329     nice see piscopo year chaykin headly priceless     0
5330  provides porthole noble trembling incoherence ...     0

[10662 rows x 2 columns]

In [22]:
X_train, X_text, Y_train, Y_test = train_test_split(X['review'].values, X['mood'].values, test_size = 0.2, random_state = 101)